
@import url(https://unsplash.com/es);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    color: blue; text-align: center; text-decoration: underline;
}

header p{
    color:   blue; text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    
}
main img{
    width: 70%;
    display: flex;
    
}

main div h2{
    display: flex;
    justify-content:center;
}

